<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/office/16/000000/pokedex.png" type="image/x-icon">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Pokédex</title>
</head>
<body class="m-3">
    <header class="absolute top-0 right-0 left-0 text-3xl flex justify-between mx-4 mt-8">
        <div>Random</div>
        <div>Search</div>
    </header>
    
    <main class="absolute top-0 bottom-0 flex flex-col justify-center">
        <div class="text-xl capitalize text-center my-3">
            <%= stats.name %>
        </div>

        <div class="self-center m-4">
            <img src="<%= stats.sprites.front_default %>" />
        </div>

        <div class="capitalize m-2">
            <%= species.description %>
        </div>
        
        <div class="m-2">
            Data:
            <%= stats.stats.hp %>
        </div>
    </main>

    <footer class="absolute bottom-0 right-0 left-0 text-lg flex justify-between mx-4 mb-8">
        <button class="button border border-red-500 rounded-md p-2">
            Back
        </button>

        <button class="button border border-red-500 rounded-md p-2">
            Next
        </button>
    </footer>
</body>
</html>